{% extends "base.html" %}

{% block title %}Blog{% endblock title %}

{% block vsebina %}
    <h2>Blog</h2>
    <p>Chicken porchetta beef ribs, jerky boudin pig pork chop short ribs.
        Filet mignon kielbasa jowl ham hock short ribs jerky bacon cupim.
        Tongue sausage pastrami chicken jerky pork belly porchetta ham hock sirloin.
        Pastrami filet mignon doner short ribs pork chop bacon venison tail spare ribs pork loin burgdoggen cupim kevin.
        Bacon cow sirloin venison short loin andouille pig frankfurter.
        Pork shoulder t-bone short ribs pig short loin turkey alcatra ribeye prosciutto.
        Frankfurter bacon pork loin meatloaf short loin, rump leberkas burgdoggen ribeye ground round pork belly t-bone.</p>
    <p>Ham hock pork loin tenderloin sirloin pastrami salami. Short ribs ham cupim t-bone meatball ribeye.
        Pig alcatra cupim burgdoggen, ribeye meatball turducken swine shoulder chuck tenderloin ground round pork chop.
        Boudin tri-tip landjaeger cow. Ball tip bresaola salami spare ribs sirloin pancetta ham strip steak bacon hamburger turducken.
        Kielbasa frankfurter pork loin sirloin alcatra drumstick jowl beef biltong bresaola capicola.
        Cow spare ribs sausage pork chop filet mignon picanha.</p>
    <p>Bacon chuck kevin beef tenderloin boudin. Pork pancetta burgdoggen filet mignon kevin short ribs.
        Turducken tenderloin short ribs ground round landjaeger fatback, spare ribs pancetta short loin.
        Tenderloin frankfurter bacon, ground round pig chicken andouille beef ribs shankle.
        Boudin prosciutto salami flank kielbasa shankle venison jowl corned beef t-bone doner.
        Corned beef drumstick cupim rump, shankle shank tri-tip swine landjaeger jerky bresaola andouille ball tip fatback.
        Pancetta short ribs boudin porchetta, venison pork loin brisket bacon picanha jerky pig pork chop ball tip spare ribs.</p>
{% endblock vsebina %}