{% extends "base.html" %}

{% block title %}Kontakti{% endblock title %}

{% block vsebina %}
    <h2>Kontakti</h2>
    <p>Ham hock pork loin tenderloin sirloin pastrami salami. Short ribs ham cupim t-bone meatball ribeye.
        Pig alcatra cupim burgdoggen, ribeye meatball turducken swine shoulder chuck tenderloin ground round pork chop.
        Boudin tri-tip landjaeger cow. Ball tip bresaola salami spare ribs sirloin pancetta ham strip steak bacon hamburger turducken.
        Kielbasa frankfurter pork loin sirloin alcatra drumstick jowl beef biltong bresaola capicola.
        Cow spare ribs sausage pork chop filet mignon picanha.</p>
{% endblock vsebina %}