<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Moji projekti</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Moji projekti</h1>
    <a href="\">Moj Homepage</a>
    <a href="\o-meni">O meni</a>
    <a href="\moji-projekti">Moji projekti</a>
    <a href="\blog">Blog</a>
    <a href="\kontakt">Kontakt</a>
    <p>Spicy jalapeno bacon ipsum dolor amet flank ham doner,
        jowl drumstick short loin picanha brisket ham hock capicola shank strip steak pork loin.
        Meatball porchetta ham hock filet mignon hamburger cupim flank prosciutto biltong shank
        andouille boudin pancetta t-bone turkey. Cow shoulder beef pastrami bresaola.
        Shoulder turkey porchetta corned beef t-bone, alcatra pork loin shank hamburger meatloaf.
        Drumstick shank picanha jerky, pork chop turducken porchetta landjaeger burgdoggen
        short ribs flank cupim pancetta frankfurter sausage.</p>
    <p>Chicken porchetta beef ribs, jerky boudin pig pork chop short ribs.
        Filet mignon kielbasa jowl ham hock short ribs jerky bacon cupim.
        Tongue sausage pastrami chicken jerky pork belly porchetta ham hock sirloin.
        Pastrami filet mignon doner short ribs pork chop bacon venison tail spare ribs pork loin burgdoggen cupim kevin.
        Bacon cow sirloin venison short loin andouille pig frankfurter.
        Pork shoulder t-bone short ribs pig short loin turkey alcatra ribeye prosciutto.
        Frankfurter bacon pork loin meatloaf short loin, rump leberkas burgdoggen ribeye ground round pork belly t-bone.</p>
</body>
</html>