{% extends "base.html" %}

{% block title %}O meni{% endblock title %}

{% block vsebina %}
    <h2>O meni</h2>
    <p>Spicy jalapeno bacon ipsum dolor amet flank ham doner,
        jowl drumstick short loin picanha brisket ham hock capicola shank strip steak pork loin.
        Meatball porchetta ham hock filet mignon hamburger cupim flank prosciutto biltong shank
        andouille boudin pancetta t-bone turkey. Cow shoulder beef pastrami bresaola.
        Shoulder turkey porchetta corned beef t-bone, alcatra pork loin shank hamburger meatloaf.
        Drumstick shank picanha jerky, pork chop turducken porchetta landjaeger burgdoggen
        short ribs flank cupim pancetta frankfurter sausage.</p>
    <p>Chicken porchetta beef ribs, jerky boudin pig pork chop short ribs.
        Filet mignon kielbasa jowl ham hock short ribs jerky bacon cupim.
        Tongue sausage pastrami chicken jerky pork belly porchetta ham hock sirloin.
        Pastrami filet mignon doner short ribs pork chop bacon venison tail spare ribs pork loin burgdoggen cupim kevin.
        Bacon cow sirloin venison short loin andouille pig frankfurter.
        Pork shoulder t-bone short ribs pig short loin turkey alcatra ribeye prosciutto.
        Frankfurter bacon pork loin meatloaf short loin, rump leberkas burgdoggen ribeye ground round pork belly t-bone.</p>
    <p>Ham hock pork loin tenderloin sirloin pastrami salami. Short ribs ham cupim t-bone meatball ribeye.
        Pig alcatra cupim burgdoggen, ribeye meatball turducken swine shoulder chuck tenderloin ground round pork chop.
        Boudin tri-tip landjaeger cow. Ball tip bresaola salami spare ribs sirloin pancetta ham strip steak bacon hamburger turducken.
        Kielbasa frankfurter pork loin sirloin alcatra drumstick jowl beef biltong bresaola capicola.
        Cow spare ribs sausage pork chop filet mignon picanha.</p>
{% endblock vsebina %}